{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-async-to-generator"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre",
        "react-native",
        "flow"
      ]
    }
  }
}
